<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee.xsd
http://www.springframework.org/schema/p ">
    <bean id="A" class="zal.C">
        <constructor-arg ref="b"/>
    </bean>

    <bean id="b" class="zal.D">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean id="minstrel" class="zal.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <aop:config>
        <aop:aspect ref="minstrel">
            <aop:pointcut id="say" expression="execution(* *.say(..))"/>
            <aop:before pointcut-ref="say" method="before"/>
            <aop:after pointcut-ref="say" method="after"/>
        </aop:aspect>
    </aop:config>

    <bean id="blank" class="cc.BlankDisc">
        <constructor-arg value="kkkkk"/>
        <constructor-arg value="mmmmmm"/>
        <!--<constructor-arg><null/></constructor-arg>-->
        <!-- <null/>将null传给构造器 -->
        <!-- 但是调用方法会出现npe -->
        <constructor-arg>
            <list>
                <value>1</value>
                <value>2</value>
            </list>
        </constructor-arg>

    </bean>
    <bean id="sp" class="cc.Sp"/>
    <bean id="cdPlayer" class="cc.CdPlayer">
        <constructor-arg ref="sp"/>
    </bean>

    <bean id="clank" class="cc.ClankDisc">
        <property name="cd" ref="sp"/>
    </bean>
    <beans profile="dev">
        <jdbc:embedded-database id="dataSource">
            <jdbc:script location="classpath:schema.sql"/>
            <jdbc:script location="classpath:test-data.sql"/>
        </jdbc:embedded-database>
    </beans>
     <beans profile="qa">
         <bean id="database" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
           p:url="jdbc">
             <!-- 往下p还有6个，不写了-->
         </bean>
     </beans>
    <beans profile="prod">
        <jee:jndi-lookup jndi-name= "jdbc/mysql"
                         id="dataSource"
                         resource-ref="true"
                         proxy-interface="javax.sql.DataSource"/>

    </beans>

</beans>


